<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
	
	<security:global-method-security secured-annotations="enabled" />
	
	<bean id="dataSource" 
	      class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	      <property name="driverClassName" value="org.h2.Driver"/>
	      <property name="url" value="jdbc:h2:~/test;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;"/>
	      <property name="username" value="himanshu"/>
	      <property name="password" value="himanshu"/>
	</bean>
	
	<security:http auto-config="true">
		<!-- Restrict URLs based on role -->
		<security:intercept-url pattern="/**"
			access="permitAll or hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')" />
		<security:csrf disabled="true" />
	
	<security:form-login login-page="/Login"
			username-parameter="username" password-parameter="password"
			default-target-url="/Cart1" authentication-failure-url="/Login?error=1" />
<!--          <security:logout logout-url="/logout" -->
<!-- 			logout-success-url="/Home" /> -->
	
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			 <security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select username,password,active from user where username=?"
				authorities-by-username-query="SELECT username,role FROM USER WHERE username=?" />

		</security:authentication-provider>
	</security:authentication-manager>
	
</beans>